name: Deploy

permissions:
  contents: read
  packages: read

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag (e.g., latest, 1.2.3)'
        required: false
        default: 'latest'
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_DEPLOYMENT_KEY }}

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SSH_DEPLOYMENT_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy
        env:
          HOST: ${{ secrets.SSH_DEPLOYMENT_HOST }}
          USERNAME: ${{ secrets.SSH_DEPLOYMENT_USER }}
        run: |
          ssh ${USERNAME}@${HOST} "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} GITHUB_ACTOR=${{ github.actor }} REPO=${{ github.repository }} IMAGE_TAG=${{ inputs.image_tag }} $( cat ./dev/deploy-docker.sh )"
